.imgcheckout{
    width: 300px;
}
.sectioncheck{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pricecheck{
    margin-left: 40px;
    font-size: 2rem;
}

    .deleticon {
        background: white;
        border: none;
        padding: 20px;
      }
      .deleticon:hover {
        background: white;
        border: none;
        padding: 20px;
      }
      .css-i4bv87-MuiSvgIcon-root:hover {
          color: red;
      }
      .grid{
          background-color: #991c20;
          float: right;
          color: white;
padding-left: 50px;
padding-right: 50px;

border-radius: 10px;
      }